services:
  selenium-hub:
    image: selenium/hub:4.23.0
    container_name: selenium-hub
    ports:
      - "4444:4444"

  chrome:
    image: selenium/node-chrome:4.23.0
    shm_size: 2gb
    depends_on:
      - selenium-hub
    deploy:
      replicas: 2
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
      - SE_NODE_MAX_SESSIONS=2

  edge:
    image: selenium/node-edge:4.23.0
    shm_size: 2gb
    depends_on:
      - selenium-hub
    deploy:
      replicas: 2
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
      - SE_NODE_MAX_SESSIONS=2

  # --- Chrome Runner ---
  test-runner-chrome:
    build: .
    container_name: test-runner-chrome
    depends_on:
      - selenium-hub
      - chrome
    environment:
      - BROWSER=chrome
      - SELENIUM_HUB_URL=http://selenium-hub:4444/wd/hub
    command: >
      bash -c "sleep 10 && mvn clean test -Psmoke -Dtest=com.ui.runner.ChromeTestRunner"

  # --- Edge Runner ---
  test-runner-edge:
    build: .
    container_name: test-runner-edge
    depends_on:
      - selenium-hub
      - edge
    environment:
      - BROWSER=edge
      - SELENIUM_HUB_URL=http://selenium-hub:4444/wd/hub
    command: >
      bash -c "sleep 10 && mvn clean test -Psanity -Dtest=com.ui.runner.EdgeTestRunner"
