<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <Properties>
        <!-- Docker value first (BROWSER), else local -Dbrowser -->
        <Property name="browserName">
            ${env:BROWSER:-${sys:browser:-default}}
        </Property>
    </Properties>

    <Appenders>

        <!-- Console output -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}{America/New_York} [%t] %-5level %logger{36} [%X{browser}] - %msg%n"/>
        </Console>

        <!-- Rolling file per browser -->
        <RollingFile name="FileAppender"
                     fileName="logs/${browserName}.log"
                     filePattern="logs/${browserName}-%d{yyyy-MM-dd}-%i.log.gz">

            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}{America/New_York} [%t] %-5level %logger{36} [%X{browser}] - %msg%n"/>

            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>

</Configuration>
